name: MLflow CI

on: [push]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install MLflow
      run: |
        pip install mlflow

    - name: Set MLflow Tracking URI
      run: |
        echo "MLFLOW_TRACKING_URI=file://$GITHUB_WORKSPACE/mlruns" >> $GITHUB_ENV

    - name: Run MLflow Project (Conda)
      run: |
        cd MLProject
        mlflow run . --env-manager=conda

    - name: Upload MLflow Artifacts to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/
