name: MLflow CI

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Set up job
      run: echo "Start MLflow CI"

    - name: Run actions/checkout@v3
      uses: actions/checkout@v3

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: 3.12
        auto-activate-base: true

    - name: Check Env
      run: python --version

    - name: Install dependencies
      run: |
        pip install mlflow

    - name: Set MLflow Tracking URI
      run: |
        echo "MLFLOW_TRACKING_URI=file://$GITHUB_WORKSPACE/MLProject/mlruns" >> $GITHUB_ENV

    - name: Run mlflow project
      run: |
        cd MLProject
        mlflow run . --env-manager=conda

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    - name: Complete job
      run: echo "Job finished"
